<div class="full-width-content" id="image-library">
	<div class="navbar">
		<div class="navbar-inner">
			<form class="navbar-search pull-left" id="search-form">
			  <input type="text" class="search-query" placeholder="Search" id="search-field">
			  <div class="search-form-cancel" id="search-form-cancel"></div>
			</form>
			
			{% if request.user.is_authenticated %}
			<ul class="nav pull-right">
				<li class="divider-vertical"></li>
				<li class="active"><a href="#" id="all-images-nav" class="image-type-nav">All Images</a></li>
				<li class="divider-vertical"></li>
				<li class=""><a href="#" id="favorite-images-nav" class="image-type-nav">Favorite Images</a></li>
				{% if request.user.is_authenticated %}
					<li class="divider-vertical"></li>
					<li class="divider-vertical spaced"></li>
					<li class=""><a href="#" id="image-upload"><span class="add-file-icon"></span>Upload a New Image</a></li>
				{% endif %}
			</ul>
			{% endif %}
		</div>
	</div>
	<div id="pagination_wrapper">
		<div id="pagination_loader" class="loading-message">
			<div id="spinner">
				<div id="floatingCirclesG">
					<div class="f_circleG" id="frotateG_01">
					</div>
					<div class="f_circleG" id="frotateG_02">
					</div>
					<div class="f_circleG" id="frotateG_03">
					</div>
					<div class="f_circleG" id="frotateG_04">
					</div>
					<div class="f_circleG" id="frotateG_05">
					</div>
					<div class="f_circleG" id="frotateG_06">
					</div>
					<div class="f_circleG" id="frotateG_07">
					</div>
					<div class="f_circleG" id="frotateG_08">
					</div>
				</div>
			</div>
			<h2>Loading...</h2>
		</div>
		<div id="pagination_content">
		</div>
	</div>
</div>


<script type="text/javascript">
window.StoryScape = window.StoryScape || {};
window.StoryScape.SEARCH_TERM = '';
window.StoryScape.CURRENT_PAGE = 1;
window.StoryScape.NUMBER_OF_PAGES = 0;
window.StoryScape.ALL_IMAGES = true;

</script>