{% extends "dev_index.html" %}
{% load tagging_tags %}

{% block external_style %} 
  <link type="text/css" rel="stylesheet" 
        href="{{ STATIC_URL }}js/jpaginate/css/style.css" />
  <link type="text/css" rel="stylesheet" 
        href="{{ STATIC_URL }}ml_static/medialibrary.css" />
{% endblock %}

{% block external_javascript %}
  <script src="{{ STATIC_URL }}js/jpaginate/jquery.paginate.js" 
          type="text/javascript">
  </script>


{% endblock %}


{% block inline_style %}
  <style type="text/css">
  </style>
{% endblock %}

{% block inline_javascript %}
<script type="text/javascript">
var searchTerm = "";
var currentPage = "1";
var noneInText = true;
//'saved' class gets added now, but not when page reloads
var saved = [];

$(function(){
  user = $("#user").attr('name');     
  configAjaxSend();
  
  $('#media-btn').addClass('navigator');

	/*function addMarkers(thumbs) {
		for (i=0; i<thumbs.length/9; i++) {
			$(thumbs[i*9]).append("<div class='post-marker'></div>");
		}
	}
	addMarkers($('.thumb'));
  	*/
	function loadThumbImg(img) {
		$(img).attr('src', '{{ MEDIA_URL }}'+$(img).attr('story-url'));
	}
	function placeThumbImg(img) {
		var height = $(img).height();
		if (height==170) {
			$(img).css('margin-top', '-10px');
		} else {
			$(img).css('margin-top', 75-height/2+'px');
		}
	}
  //set thumbnail images
  $('.thumb-img').each(function(index){
		loadThumbImg(this);
	});
	$('.thumb-img').load(function(){
		placeThumbImg(this);
	});


	
	//open preview window
	$('.preview-link').click(function() {
		onPreviewClick(this);
	});
	

	
	//modify function to include preview window with popular tags
	function onPreviewClick(pL) {

		$('#preview-window').show();
		$('#preview-window').css({'height':'+=100px', 'top':'-100px'});
		$('#preview-frame').show('fold').draggable();
		$('#preview-left').empty();
		if ($(pL).siblings('.tags').length!=0) {
			$(pL).siblings('.tags').clone().appendTo('#preview-left').css('width','200px')
					.children().addClass('preview-tag');
			$('.preview-tag').hover(function(){
				$(this).toggleClass('linkHover');
			});
			$('.preview-tag').click(function(){ searchForTag(this); } );
			$('#preview-left').prepend('<span style="float:left;">Tags: </span>');
		}
		$('#preview-img').attr('src', '{{ MEDIA_URL }}'+
				$(pL).parent().parent().children().children('.thumb-img').attr('story-url'));
		$('#preview-img').css('margin', function(){
			var height=$(this).height();
			var width=$(this).width();
            // center image within the display area
			return (420-height)/2+'px '+(496-width)/2+'px';
		});
	}
	

	$('#preview-window, #preview-close, #tags-close').click(function() {
		$('#preview-window, #preview-frame, #tags-frame').hide();
	});
	
	//download image
	$('#download-button').click(function() {
		window.location=$('#preview-img').attr('src');
	});
  
  $("#search").val("search");
  var url = $('#url-info').val(); 
   
  function updateStories(stories){
    var numObjs = stories.length; 
    $(".thumb").remove()
    for(i = 0; i < numObjs; i++){
      $elem = $("<div class='thumb'><div class='thumb-img-box'>"+
        "<img class='thumb-img' src='' " +  
        " width='208px' height='150px' story-id="  + 
        stories[i].pk + " story-url="+ 
        stories[i]['fields']['thumb_url']+" /></div>"+
        "<div class='thumb-info'>"+
        "<div class='btn preview-link'>Preview</div>"+
        "<div class='tags'></div>"+
        "</div></div>"); 
      var tags = stories[i]['extras']['all_tags']; 
      var len = Math.min(tags.length, 3);
      for (j=0; j<len; j++) {
                $elem.find('.tags').append("<div class='tag link'>"+
                tags[j]+"</div>");
      }
          
      $('#thumbbox').append($elem);
    }

    $('.thumb-img').each(function(index){
        loadThumbImg(this);
    });
    $('.thumb-img').load(function(){
        placeThumbImg(this);
    });
    $('.thumb-info').append('<div class="dot"></div>');
    dotColor($('.dot'));

    $('.preview-link').click(function(){
        onPreviewClick(this);
    });

    $(".thumb-img-box").hover(function(){
        hoverDot(this);
    }, function(){
        unhoverDot(this);
    });  
    $(".thumb-img-box").click(function(){
        selectedElm(this)
        dotColor($(this).parent().find('.dot'));
    });
 
    $("#thumbbox").find(".thumb-img").each(function(){
      id = $(this).attr("story-id");
      if (jQuery.inArray(id, saved) == 0){
          $(this).parent().parent().removeClass("selected");
          $(this).parent().parent().removeClass("attention");
          $(this).parent().parent().addClass("saved");
          dotColor($(this).parent().parent().find('.dot'));
      }
    });
 
    $('.tag').hover(function(){
            $(this).addClass('linkHover');
        }, function() {
            $(this).removeClass('linkHover');
        });
    $(".tag").click(function(){ searchForTag(this); } );

  }//end of upateMediaObjects method


  $(".thumb-img-box").hover(function(){
      hoverDot(this);
  }, function(){
      unhoverDot(this);
  });  
  $(".thumb-img-box").click(function(){
    selectedElm(this)
    dotColor($(this).parent().find('.dot'));
  });
  
  function hoverDot(thumb) {
    if ($(thumb).parent().hasClass("selected")==false && 
              $(thumb).parent().hasClass('saved')==false){
          $(thumb).parent().addClass('attention');
          dotColor($(thumb).parent().find('.dot'));
    }
  }
  function unhoverDot(thumb) {
      $(thumb).parent().removeClass('attention');
      dotColor($(thumb).parent().find('.dot'));
  }
      
  
  
  function selectedElm(elm){
    if($(elm).parent().hasClass("saved")){
    }else if($(elm).parent().hasClass("selected")){
          $(elm).parent().removeClass("selected");
          //$(elm).parent().find("img").addClass("attention");
    }else{
          $(elm).parent().addClass("selected");
          //$(elm).parent().find("img").removeClass("attention");
    }
  }
  
  function dotColor(dot){
      var thumb = $(dot).parent().parent();
      if ($(thumb).hasClass('selected')) {
          $(dot).removeClass('saved-dot attention-dot').addClass('selected-dot');
      } else if ($(thumb).hasClass('saved')) {
          $(dot).removeClass('selected-dot attention-dot').addClass('saved-dot');
      } else if ($(thumb).hasClass('attention')) {
          $(dot).removeClass('selected-dot saved-dot').addClass('attention-dot');
      } else {
          $(dot).removeClass('selected-dot saved-dot attention-dot');
      }
  }
  
  $("#search-story-button").click(function(evt){
    searchForWord();
  });
  function searchForWord(){
    $('#preview-window, #preview-frame').hide();
    var searchTerm = $("#search").val().trim();
    if(searchTerm.length <= 0 )
        return
    $.ajax({
        type: "GET",
        url: url,
        data: {TEXT_SEARCH: 'True', SEARCH_TERM: searchTerm},
        success: function(data){
            console.log("The data gotten back is "+data);
            tmp = $.evalJSON(data);
            console.log("The tmp is "+ tmp);
            numPages = tmp['num_pages']; 
            randomTags = tmp['random_tags'];
            stories = $.evalJSON(tmp['stories']);
            console.log("The stories are "+stories);
            //added by mre
            for(var i=0; i < stories.length; i++){
                stories[i]['extras']['all_tags'] = 
                       $.evalJSON(stories[i]['extras']['all_tags']); 
            }
            // now you have access to tags via
            // stories[i]['extras']['all_tags'][j]
            updateStories(stories);
            // MRE FIX THIS updateWordCloud(randomTags); 
            pconfig['count'] = numPages; 
            pconfig['start'] = 1; 
            $("#jpaginate").paginate(pconfig);
        window.scrollTo(0, 0);
        },
        error: function(data){
            msg = "error saving, and the data is "+data;
            console.log(data);
            alert(msg);
        }
    }); 
  }
  function updateWordCloud(tags){
          $('#random-tags-cloud').empty();
    numTags = tags.length; 
    if(numTags >= 20){
      $('.random-cloud-tag').remove(); 
    }
    for (var i=0; i < numTags; i++){
      size = tags[i].font_size;
      elem = "<div class='word-cloud-tag'>"+
                          "<span class='random-tag tag link'>"+
            tags[i].name+"</span></div>"; 
      $("#random-tags-cloud").append(elem);
    }
    $('.random-tag').click(function(){ searchForTag(this); } );
    $('.random-tag').hover(function(){ $(this).toggleClass('linkHover') });
  
  }
  
  $(".tag").click(function(){ searchForTag(this); } );
  
  function searchForTag(elem){  
      $('#preview-window, #preview-frame').hide();
  
    searchTerm = $.trim($(elem).html());
    noneInText = false;
    $("#search").css("color", "black");
    $("#search").val(searchTerm);
    $.ajax({
        type: "GET",
        url: url,
        data: {TAG_SEARCH: 'True', TAG_TERM: searchTerm },
        success: function(data){
            tmp = $.evalJSON(data);
            numPages = tmp['num_pages'] 
            randomTags = tmp['random_tags'];
            stories = $.evalJSON(tmp['stories'])
            // added by mre
            for(var i=0; i < mediaObjects.length; i++){
                stories[i]['extras']['all_tags'] = 
                       $.evalJSON(stories[i]['extras']['all_tags']); 
            }
            updateStories(stories);
            // MRE FIX THIS updateWordCloud(randomTags);
            pconfig['count'] = numPages;
            pconfig['start'] = 1;
            $("#jpaginate").paginate(pconfig);
        window.scrollTo(0, 0);
        hideTbMenu();
      }, error: function(data){
          alert("error saving");
      }
    });
  }
  
  $("#search").keydown(function(e){
    code= (e.keyCode ? e.keyCode : e.which);
          if (code == 13){
              $("#search-story-button").css("font-size", "");
              $("#search-story-button").css("background-color", " #ccc");
    } 
  });
  $("#search").keyup(function(e){
    code= (e.keyCode ? e.keyCode : e.which);
          if (code == 13){
              $("#" + currentPage).addClass("link");
              currentPage = "1";
              $("#" + currentPage).removeClass("linkHover");
              $("#" + currentPage).removeClass("link");
              searchTerm = $(this).html();
              searchForWord();
              $("#search-story-button").css("background-color", " #FFFFFF");
              $("#search-story-button").css("font-size", "");
    } 
  });
  $("#search").focusout(function(){
    if (($(this).val().length) <= 0) {
        noneInText = true;
        $(this).val("search");
        $(this).css("color", "grey");
        }
    else noneInText = false;
  });
  $("#search").focusin(function(){
    if (noneInText){
        $("#search").val("");
        $(this).css("color", "black");
    }  
  });
  
  /*
   page advance: called when user clicks on the "next page"
  */ 
  var viewPageClick = function(pageNumber){
    //TODO: get rid of currentPage if not needed 
    currentPage = pageNumber;// $(this).attr("id");
    $('.pageHover').removeClass('pageHover');
    $("#" + currentPage).addClass("pageHover");
    var searchTerm = $("#search").val().trim();
    if( searchTerm == "search") searchTerm = "";
    $.ajax({
        type: "GET",
        url: url,
        data: {SEARCH_PAGE_CHANGE:'True', 
               SEARCH_TERM:searchTerm, 
               PAGE_NUMBER:parseInt(currentPage)},
        success: function(data){
            $("html, body").animate({ scrollTop: 0 }, "slow");
            tmp = $.evalJSON(data);
            randomTags = tmp['random_tags']
            stories = $.evalJSON(tmp['stories']);
            // added by MRE
            for(var i=0; i < mediaObjects.length; i++){
                stories[i]['extras']['all_tags'] = 
                       $.evalJSON(stories[i]['extras']['all_tags']); 
            }
            updateStories(stories);
            // MRE FIX THIS updateWordCloud(randomTags);
            pconfig['start'] = currentPage; 
            $("#jpaginate").paginate(pconfig);
        },
        error: function(data){
            alert("something went wrong");
        }
    });
  }; 
  var pconfig = { }; 
  function getTotalNumberPages(){
  $.ajax({
      type:"GET", 
      dataType: 'json',
      url: url, 
          data: {TOTAL_NUM_PAGES: "STORIES"}, 
      success: function(numPages){ 
            pconfig = {
            count: numPages,
            start: 1,
            display: 10,
            border: false,
            text_color: '#79B5E3',
            background_color: 'none',    
            text_hover_color: '#2573AF',
            background_hover_color  : 'none', 
            images: false,
            mouse: 'press',
            onChange: viewPageClick
          };
  
          $("#jpaginate").paginate(pconfig);
        }, 
      error: function(data){
          alert('unable to get number of pages'); 
  
        } 
   }) ;
  };  
  getTotalNumberPages(); 

  initializeFeedback( $('#url-info').val() );
}); // end jQuery function

</script>
{% endblock %}

{%block toolbar_label %}
Media
{% endblock %}

{% block toolbar_menu %} 
{% endblock %} 

{% block toolbar %}
<input id="search" name="search" />
<button id="search-story-button" class="btn"> go </button> 
<button id='popular-tags-button' class='btn small-text'>Popular tags</button>
<!-- <button id='random-tags-button' class='btn small-text'>Random tags</button> --> 

  {% include 'feedback_form.html' %} 

{% endblock %}


{% block content %}

{% if stories %}
<div id="thumbbox">
    {% for story in stories %}
    <div class="thumb">
        <div class='thumb-img-box'>
        <!-- I've given width and height attributes of the image to make them same size as their parent class, but that may not be the perfect way -->
            <img src='' width='208px' height='150px' class='thumb-img' story-id={{ story.id }} 
                story-url={{ story.thumb_url }} />
        </div>
            <div class = "thumb-info"> 
                <div class='tags'>
		{% if story.tags %}
                    {% for word in story.tags %}
                    {% if forloop.counter < 4 %}
                    <div class = "tag link">{{ word }}</div>
                    {%endif %}
                    {% endfor %}
		{%endif%}
                </div>

                
		<button type = 'button' class='btn preview-link'> Preview </button>
            </div>

         </div>

        {% endfor %}

     </div>

<div id="pages-wrapper">
    <div id='pages'>
       <div id="jpaginate"> </div>
    </div>
    </div>

  {% endif %}
    
	<div id='preview-window'></div>
	
	<div id='preview-frame'>
		<button id='preview-close' type='button' class='btn'>X</button>
		<div id='preview-img-box'>
			<img src=''id='preview-img'/>
		</div>
		<div id='preview-info'>
			<div id='preview-left'>
			</div>
			<div id='preview-right'>
				<div id='download-button' class='btn'>
					Download
				</div>
			</div>
		</div>
	</div>

    
<input id=user type="hidden" name="{{ user.username }}" />
<input id="url-info" type="hidden"
    value="{% url story_library %}" />
     
{% endblock %}

<!--end of main-content-->
