{% extends "base_2column_left.html" %}

{% block inline_style %}
<style type='text/css'>
.mo-thumb {
      display: block;
      min-width: 180px;
      max-width: 240px;
      max-height: 240px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 12px;
      cursor: pointer;
      border: solid blue 1px;
    }

#img-box{
  width:240px; 
  height:100%; 
  border:solid black 1px; 
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
#tagging-box{
  width:300px; 
  height:100%; 
  border:solid black 1px; 
  margin-left: auto;
  margin-right: auto;
}
</style>
{% endblock %}

{% block inline_javascript %}
<script type='text/javascript'>

$(function(){
  configAjaxSend();
  url = $("#url_info").attr("name");
  
  $('#tag-image').click(
    function(evt){
      //tags is a comma seperated string
      tags = $('#tags').val().trimLeft(' ', '').trimRight(' ', '');
      moId = $('.mo-thumb').attr('mo-id');
      $.ajax(
        {
          type:"POST",
          url: url,
          data: {ADD_TAGS: tags, MO_ID: moId}, 
          dataType: 'json', 
          success:
            function(data){
              tmp = data; 
              // expect new mediaobject image to display and tag
              mo = data[0]; 
              moId = mo['pk']; 
              moUrl = '/media/'+mo['fields']['url']; 
              $('.mo-thumb').attr('src', moUrl);
              $('.mo-thumb').attr('mo-id', moId);
              $('#tags').val('');
              $('#tags').focus();
            }, 
          error:
            function(data){
              alert('error adding tags to image');
            }
        }
      );//end ajax call to add tags
    
    }
  );

});//end jquery 

</script>
{% endblock %}

{% block left_sidebar_title %}
<h2 style="margin-bottom:0">Instructions</h2>
{% endblock %}

{% block left_sidebar_content %}
<p>For each image assign tags that describe the image.</p><p> For instance
if the image is of a car you might put "car, red, automobile" as the 
tags.</p><p> Or if the image is of a smiling person you might tag "boy, smiling,
blonde hair, happy, human, person"</p><p> If the image would make a nice background
tag it with "background"</p><p>If you feel the image should be deleted because
of poor quality or inappropriate content tag it with "delete"</p>
{% endblock %}

{% block main_content %}
<div id='tagging-box'>
  <div id='img-box'>
    {% if mediaobject %}
      <img class='mo-thumb' src="{{MEDIA_URL}}{{ mediaobject.url }}" 
           mo-id="{{ mediaobject.id }}"/>
    {% endif %}
  </div>
  <span>Seperate tags with comma</span><br/>
  <label>Tags:</label>
  <input id='tags' type='text' style="width:240px;" /> <br/>
  <button id='tag-image'>Save Tags</button>
</div>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<input id="url_info" type="hidden" 
       name="{% url medialibrary.views.tag_image %}" />
{% endblock %}
