# Directories  #
################
bin
media

# Compiled files # 
##################
*.pyc
*.apk
*.dex

# Packages #
############
*.tar 
*.gz
*.zip
*.rar
*.iso
*.dmg

# Eclipse IDE config files #
####################
.project
.pydevproject
*.swp # vim auto save file
# Logs and databases #
######################

# OS generated #
################
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# Others #
##########
venv
env
localsettings.py
