{% extends "base.html" %}

{% block title %}About StoryScape Reader{% endblock %}

{% block content %}
<h1>About StoryScape Reader</h1>
<p>We here at StoryScape realize how important stories are for growth, learning, and entertainment. That is why we've
developed a platform that anyone can utilize to create fully customized and customizable interactive stories.

<p>The StoryScape Reader is an Android app (Works on Android 4.0+ devices) that allows StoryScape stories to truly come to life with
interactivity. The Reader allows you to explore your own creativity and imagination by adding your own personal touch to each story in a completely
unprecedented way. 
<p>Anyone can log in to the StoryScape website and create an interactive story, and publish it to the Reader. Then,
any Reader user can load that story, interact with it, and even customize it! The Reader allows you to remix a story, replacing
anything on the page with any picture you have on your device (or can take with the device's camera, of course!)
<p>Currently the StoryScape Reader is only available to beta testers of the platform. If you are interested in a tester,
please contact us at <a href="mailto:storyscape.tech@gmail.com">storyscape.tech@gmail.com</a> and be part of a whole <i>new</i> story. 

{% endblock %}
