{% extends "base.html" %}

{% block external_style %}
{% endblock %} 

{% block external_javascript %}
{% endblock %} 

{% block inline_style %}
<style>
.post{
  padding:10px;
  width:800px; 
}
.highlight{ 
  color:blue; 
} 
</style>
{% endblock %}
{% block title%}About Sodiio{% endblock %}



{% block main_content %}
<div><span class='section-title'><span>About</span></div>
<div class="post">
<p>
StoryScape is a unique platform being developed to take advantage of 
social, mobile, and web technologies. Stories created with the 
Builder are meant for the StoryScape Reader, a mobile application 
for <span style='font-weight:bold;'>Android 4.0+ devices</span>. The Reader allows the stories to truly 
come to life with their interactive features. Best of all the 
Reader allows you to explore your own creativity and imagination 
by adding your own personal touch to each story. 
</p>
<p>
Currently the StoryScape Reader is only available to inital 
testers of the platform. If you are interested in <span style='font-weight:bold;'>becoming an 
early tester</span> please contact us at <span class='highlight'>sodiio.tech@gmail.com</span> and be 
part of a whole new story. 
</p> 
<p>If you would like to be notified when StoryScape is 
publicly released please contact us at <span class='highlight'>sodiio.tech@gmail.com</span>.</p>
</div>
<img style="margin-left:100px;" src="{{ STATIC_URL }}images/storyscape_tools.png" />

{% endblock %}
