<div id='reveal-div' class='reveal-modal xlarge' >
    <h2 style='margin-bottom:10px; margin-top:5px;'>Quick Tutorial (Under Construction)</h2>
    <div style='height:150px;'>
    <div style='float:left; width:380px;'>
      <h4 style='margin-bottom:5px; margin-top:5px;'>Step 1: Getting Media</h4>
      <img style='inline-block; float:left; margin-right:10px;' 
           src='{{ STATIC_URL }}images/media_icon.png' />
      <p style='font-size:0.8em; margin-top:-1px;'>You will need images for your stories. There are two main ways 
         to get images. Sodiio provides a <span class='highlight'>"Media Library"</span> full of images that 
         you can <span class='highlight'>"copy"</span> to your personal library. On the 
         <span class='highlight'>top toolbar</span> you will find
         a menu named <span class='highlight'>"Media"</span> which links you to the 
         <span class='highlight'>"Image Library."</span> You can also 
         <span class='highlight'>upload</span> your own
         art work, just press the <span class='highlight'>"upload media" button</span> on the top toolbar.
      </p>
    </div>
    
    <div style='float:left; width:380px; margin-left:20px;'>
      <h4 style='margin-bottom:5px; margin-top:5px;'>Step 2: Start a New Story</h4>
      <img style='inline-block; float:left; margin-right:10px;' 
           src='{{ STATIC_URL }}images/new_story_icon.png' />
      <p style='font-size:0.8em; margin-top:-1px;'>
        In the top toolbar press the <span class='highlight'>"Story"</span> menu and 
        then select <span class='highlight'>"New."</span> A form will open that will 
        have all of the required fileds you need to fill out to start a new story. 
      </p>
    </div>
   </div>


    <div style='height:150px;'>
    <div style='float:left; width:380px;'>
      <h4 style='margin-bottom:5px; margin-top:5px;'>Step 3: Layout Images</h4>
      <img style='inline-block; float:left; margin-right:10px;' 
           src='{{ STATIC_URL }}images/new_story_icon.png' />
      <p style='font-size:0.8em; margin-top:-1px;'>
        In the top toolbar press the <span class='highlight'>"Story"</span> menu and 
        then select <span class='highlight'>"New."</span> A form will open that will 
        have all of the required fileds you need to fill out to start a new story. 
      </p>
    </div>
   
    <div style='float:left; width:380px; margin-left:20px;'>
      <h4 style='margin-bottom:5px; margin-top:5px;'>Step 4: Add Animations</h4>
      <img style='inline-block; float:left; margin-right:10px;' 
           src='{{ STATIC_URL }}images/new_story_icon.png' />
      <p style='font-size:0.8em; margin-top:-1px;'>
        In the top toolbar press the <span class='highlight'>"Story"</span> menu and 
        then select <span class='highlight'>"New."</span> A form will open that will 
        have all of the required fileds you need to fill out to start a new story. 
      </p>
    </div>
    </div>
      
      
    <div style='height:150px;'>
    <div style='float:left; width:380px;'>
      <h4 style='margin-bottom:5px; margin-top:5px;'>Step 5: Add Text</h4>
      <img style='inline-block; float:left; margin-right:10px;' 
           src='{{ STATIC_URL }}images/new_story_icon.png' />
      <p style='font-size:0.8em; margin-top:-1px;'>
        In the top toolbar press the <span class='highlight'>"Story"</span> menu and 
        then select <span class='highlight'>"New."</span> A form will open that will 
        have all of the required fileds you need to fill out to start a new story. 
      </p>
    </div>
   
    <div style='float:left; width:380px; margin-left:20px;'>
      <h4 style='margin-bottom:5px; margin-top:5px;'>Step 6: New Page</h4>
      <img style='inline-block; float:left; margin-right:10px;' 
           src='{{ STATIC_URL }}images/new_story_icon.png' />
      <p style='font-size:0.8em; margin-top:-1px;'>
        In the top toolbar press the <span class='highlight'>"Story"</span> menu and 
        then select <span class='highlight'>"New."</span> A form will open that will 
        have all of the required fileds you need to fill out to start a new story. 
      </p>
    </div>
    </div> 
     
    <div>
      <h4 style='margin-bottom:5px; margin-top:5px;'>Step 7: Have Fun</h4>
      <img style='inline-block; float:left; margin-right:10px;' 
           src='{{ STATIC_URL }}images/new_story_icon.png' />
      <p style='font-size:0.8em; margin-top:-1px;'>
        In the top toolbar press the <span class='highlight'>"Story"</span> menu and 
        then select <span class='highlight'>"New."</span> A form will open that will 
        have all of the required fileds you need to fill out to start a new story. 
      </p>
    </div> 
    <a class='close-reveal-modal'>&#215;</a> 
 </div>

  <div id='upload-media-button' class="toolbar-btn" style='float:right; display:none;'><span class='btn-label'>Upload image</span></div> 


