
<div id='storyline'>
	<!--<div id='storyline-bar'> --> 
    <div id='story-nav-wrapper'>
      <div id='story-nav-controls'>
      <!--<div id='story-prev-page'>-</div>-->
      <button id='story-prev-page' type='button'>Prev</button>
      <div id='story-current-page-wrapper'><span style="vertical-align:top">Page: </span>
        <textarea id='story-current-page'></textarea>
        <span id='story-total-pages' style="vertical-align:top;"> /</span>
      </div>
      <!-- <div id='story-next-page'>+</div>-->
      <button id='story-next-page' type='button'>Next</button>
    </div>
  
  </div>
</div>


