  <form id='story-properties-form' class='story-toolbar-item' >
      <div class="form-item">Title<br/>
        <textarea name="title" id="story-properties-title" default-text="Add title"
             class="required create-text default-text" minlength="2">Add Title</textarea>
      </div>
	  <div class="form-item">Author:<br/>
          <textarea id="story-properties-author" readonly
               class='create-text'>username</textarea>
      </div>
      <div class="form-item">Genre:<br/>
        <textarea name="genre" id="story-properties-genre" default-text="Add genre"
             class="required create-text default-text" minlength="2">Add genre</textarea>
      </div>
      <div class="form-item">Description<br/>
        <textarea name="description" id="story-properties-desc" default-text="Add description"
                class="required create-text default-text" minlength="2">Add description</textarea>
      </div>
      <div class="form-item">Tags <span class='small-text'>(separate with comma)</span><br/>
        <textarea name="tags" id="story-properties-tags" 
                 default-text="Add tags"
                class="required create-text default-text" 
                minlength="2">Tags (separate with comma)</textarea>
      </div> 
        <button type='button' id='update-story-btn' class='btn'>Update</button>
  </form>
