{% extends "base.html" %}
{% load json_filters %}

{% block title %}StoryScape - {{ story.title|title }}{% endblock %}
{% block pagename %}PREVIEW_STORY{% endblock %}


{% block content %}
	
	<h1 id="story-title-display" class="story-title-display">{{ story.title|title }}</h1>
	<div class="preview-controls">
		{% if story.creator_uid == request.user.id %}
			<button class='btn'>Edit</button>
		{% endif %}
	</div>
	<div id='storyscape-container'>
	 
		{% spaceless %}
			<div> 
				<div id='builder-pane-container' class="builder-pane-container"> 
					<div class="builder-container">
						<div id="builder-pane" class="builder-pane">
						</div>
						{% include "storyscape/storyline_navigation.html" %} 
					</div>
				</div>
			</div>
		{% endspaceless %}
	</div>

{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" type='text/css' href="/static/ui-lightness/jquery-ui-1.10.3.custom.min.css">
{% endblock %}

{% block extra_javascript %}
	<script type="text/javascript">
	window.LOAD_STORY_ID = "{{ story.id }}";
	window.ACTION_CODES = {{ action_codes|jsonify|safe }};
	window.ACTION_TRIGGER_CODES = {{ action_trigger_codes|jsonify|safe }};
	</script>
{% endblock %}

{% block extra_javascript_libraries %}
	<script type="text/javascript" src="/static/js/backbone.js"></script>
	<script type="text/javascript" src="/static/js/jquery.actual.js"></script>
	<script type="text/javascript" src="/static/ui-lightness/jquery-ui-1.10.3.custom.js"></script>
{% endblock %}

