.linkHover{
	cursor: pointer;
	color:black;
}
.page{
	float: left;
}
#page-link-box{
	background: #AAC3DD;
	width: max;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
z-index:100;
text-shadow: 0 1px 0 grey;
border-bottom: 2px ridge grey;
}
#search{
	height: 30px;
	font-size:1em;
	padding-left:5px;
    margin-left:20px;
	width: 280px;
	border:solid #ccc 1px;
	float:left;
}
   
#right{
    position: absolute;
  width: 300px;
}
#word-cloud{
    /*width:100%;*/
  width:100px;
  height:auto;
    padding: 5px;
    text-align: center;
     
    border-radius: 20px 20px 20px 20px;
  border: solid 1px red;
}
#word-cloud-title{
    font-size: 18px;
    color: black;
    text-shadow: grey 0 1px 0;
    text-shadow: black 1px 0 0;
    font-family: Georgia, serif;
  	border: solid 1px green; 
}
  #word-cloud-content{
  font-family: Georgia, serif;
  	display:inline-block;
}

.word-cloud-tag{
  	font-size:18px;
  	margin:5px;
  	float:left;
}

#search-button, #search-story-button {
	width:30px;height:25px;
	margin:4px 0 0 -36px;
	font-size:100%;
}
#upload-media-button {
	margin:0 0 0 0;
	height:35px;
	line-height:28px;
}
#save-button {
	float:right;
	margin:15px 10px 0 0px;
	height:30px;
	line-height:28px;
}
#save-button:hover {
	background-color:white;
}

#popular-tags-button {
	margin:15px 0 0 8px;
	height:30px;
	line-height:28px;
}
#random-tags-button {
	margin:15px 0 0 8px;
	height:30px;
	line-height:28px;
}

#download-button {
	position:relative;
	left:150px;
	top:15px;
	cursor:pointer;
	line-height:28px;
}

.preview-tag {
	font-size:100%;
	color:#808080;
	padding:0 5px;
}

#tags-frame {
	padding:10px;
	border:solid #ccc 1px;
	border-radius:10px;
	background-color:white;
	z-index:10;
	position:fixed;
	display:none;
	margin: 80px 0 0 80px;

}  

#tags-box {
	width:691px;
	height:500px;
	border:solid #ccc 1px;
	overflow:hidden;
}

#tags-close {
	width:20px;height:20px;
	border:0;
	position:absolute;
	left:677px;top:15px;
	color:#808080;
	line-height:20px;
}
#tags-close:hover {
	color:black;
	background-color:#ccc;
	box-shadow:0 0 0;
}
#pages-wrapper{
    float:left;
    width: 100%;
    /*border:dashed green 1px; */
    margin-top:20px; 
}
#pages {
    width: auto;
    /*border: dashed red 1px; */
    min-height:100%;
    margin: 0px auto; 
}
.page, .page:hover {
	margin:3px;
	font-size:150%;
	height:35px;
}
.pageHover {
	background-color:#f3f3f3;
	box-shadow:0 0 3px #ccc;
}
.jPaginate{
   width: 25em;
   margin: 0 auto;
}
ul.jPag-pages{ 
    height: 1.25em; 
}

#upload-image-form, #upload-image-form input {
   margin: auto;
   width: 250px;
}


.tooltip {  
   position: relative;
}

.tooltip span {
   /*visibility: hidden;*/
   margin-left: -999em; /*this is same as visibility:hidden */
   position: absolute;
}

.tooltip:hover span {
   font-family: Calibri, Tahoma, Geneva, sans-serif;
   position: absolute;
   left: 1em;
   top: 2em;
   z-index: 99;
  /* visibility: visible;*/
   margin-left: 0; /*this is same as visibility: visible*/
   width: 250px;
}


/* Following two classes are not used yet. */
.tooltip:hover img {
  border: 0;
  margin: -10px 0 0 -55px;
  float: left;
  position: absolute;
}

.tooltip:hover em {
   font-family: Candara, Tahoma, Geneva, sans-serif;
   font-size: 1.2em;
   font-weight: bold;
   display: block;
   padding: 0.2em 0 0.6em 0;
}

.normal { background: #eeeeee; border: 1px solid #C0C0C0; padding: 0.8em 1em; }
* html a:hover { background: transparent; }

label.error {
  color:red
}
